ResourceToken/ResourceSvc/.vs/
ResourceToken/ResourceSvc/packages/
ResourceToken/ResourceSvc/ResourceSvc/bin/Debug/Newtonsoft.Json.xml
ResourceToken/ResourceSvc/ResourceSvc/bin/Debug/ResourceSvc.exe.config
ResourceToken/ResourceSvc/ResourceSvc/bin/
ResourceToken/ResourceSvc/ResourceSvc/obj/
