<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="MASTER-KEY" value="Master Key"/>
    <add key="END-POINT" value="https://rafat-metric-demo.documents.azure.com:443/"/>
    <add key="DATABASE" value="IoT"/>
    <add key="COLLECTION" value="IoT"/>
  </appSettings>
</configuration>